/*=============Headers=============*/

h1,
h2,
h3 {
  margin: 1em 0;
}


.header {
  /* padding: 0 1em 0 1em; */
  font-weight: 700;
  text-transform: uppercase;
}

.title > h2 {
  line-height: 1.5em;
}


.header-left{
  margin-top: 0;
  text-transform: uppercase;
}

.header-center{
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .title{
    padding: 0 15px;
  }
}




/*=============Body=============*/

section {
  margin: 0 0 25em 0;
}

.space{
  margin: 4em;
}

@media screen and (max-width: 575px) {
  section {
    margin: 5em 0;
  }
}





p {
  margin: 0 0 1em 0;
  line-height: 2em;
}

p > strong {
  font-weight: 600;
}

h4.subtitle {
  /* margin: 2em 0 1em 0; */
  margin-bottom: 1em;
}




.overview_detail_row{
  display: flex;
  gap: 1em;
  /* justify-content: space-between; */
}


.overview_detail_col > p >strong{
  display: block;
  width: 140px;
}


.bullet{
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.list_item > h4.subtitle{
  margin-top: 0;
}

.icon_bullet{
  margin-right: 8px;
  margin-bottom: 1em;
  color: var(--color_black);
  background-color: var(--color_white);
  border: 1px solid var(--border_color);
  padding: .75em;
  border-radius: 50%;
}

i.icon_bullet:hover {
  color: black;
}

span.list_item{
  display: flex;
  align-items: center;
}


h6 > strong {
  font-weight: 600;
}


.highlight{
  color: var(--prim_color);
}


.item{
  margin-bottom: 6em;
}

.item_header{
  margin-top: 1em;
}

.img_col{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.adjust{
  margin-left: 0;
  margin-right: 0;
}


.links {
  padding-left: 1em;
}

.pagelink{
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.pagelink > p{
  margin-bottom: 0;
}

.pagelink > i{
  margin-right: 0.25em;
}

.quote {
  border-top: 1px solid var(--color_grey);
  border-bottom: 1px solid var(--color_grey);
  padding: 1em 5em;
  line-height: 4em;
}

.quote > h3 {
  font-style: italic;
  text-align: center;
}

.quote > p {
  text-align: right;
  font-style: italic;
}

.quote_sm {
  text-align: left;
  border-top: 1px solid var(--color_lightgrey);
  border-bottom: 1px solid var(--color_lightgrey);
  padding: 1em 2em 0 2em;
  margin: 2em 0;
}

.quote_sm > p {
  font-style: italic;
  font-weight: bold;
}

.quote_sm > figcaption {
  text-align: right;
}

.impact {
  line-height: 1.5em;
  width: 60%;
}

.content_img {
  width: 100%;
  height: auto;
  margin-bottom: 3em;
}

.divider {
  border-top: 1px solid var(--color_grey);
  height: 10em;
}

.app_btn{
  display: flex;
  gap: 2em;
  margin-top: 4em;
}


.data{
  margin:2em 0 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.data_item > h1{
  margin: 0;
}

.data_overview
{
  display: flex;
  gap: 3em;
  margin: 2em 0 3em 0;
}



ul.lists {
  padding-left: 2em;
  list-style-type: disc;
  margin: 0 0 1em 0;
}

ul.lists > li {
  margin-bottom: 1em;
}

ol.lists_num {
  padding-left: 2em;
  margin: 0 0 1em 0;
  list-style-type: decimal;
}

ol.lists_num > li {
  margin-bottom: 1em;
}



#app_download {
  text-align: center;
}

/*=============Images=============*/

figure.title_image > img {
  padding: 0;
  width: 100%;
  margin-bottom: 4em;
}

figure.final_img {
  margin: 2em 0;
}

figure > figcaption {
  margin: 0.75em 0 2em 0;
}

.img_reset{
  margin-bottom: 0;
}
